<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            This option allows you to create a new list from a textfile that contains each item per row
        </div>
    </div>
</div>