<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="alert alert-secondary" role="alert">
            <blockquote class="blockquote mb-0">
                <p class="mb-0">This is the way.</p>
                <footer class="blockquote-footer">Mando</footer>
            </blockquote>
        </div>
    </div>
</div>