<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <p><b>This feature is a donor perk!</b></p>
            <p>It uses a lot of compute resources, since this has to be done server-side.</p>
            <p>To learn more about donor perks, and why you should donate to this project, take a look <a asp-area="" asp-controller="Donor" asp-action="WhyDonate">here</a>.</p>
        </div>
        <div class="alert alert-info" role="alert">
            These filters are used to exclude the chosen values from the list.
        </div>
    </div>
</div>
<hr/>