<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
            <p><b>This feature uses a lot of compute resources, since this has to be done server-side as it is not implemented into the Trakt API</b></p>
            <p>If you are using this feature, please consider donating via GitHub sponsors by following this link <a href="https://github.com/sponsors/TheUltimateC0der" target="_blank">https://github.com/sponsors/TheUltimateC0der</a></p>
        </div>
        <div class="alert alert-info" role="alert">
            These filters are used to exclude the chosen values from the list.
        </div>
    </div>
</div>