<div class="row">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            These filters are used to exclude the chosen values from the list.
        </div>
    </div>
</div>