@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>We do not collect any private data, nor do we collect any analytics except the one that come with the usage of cloudflare.</p>
