@model CreateMovieListViewModel
@{
    ViewData["Title"] = "Movie list";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div class="row">

    <div class="col-md-12">
        <form asp-action="MovieList" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input asp-for="Name" class="form-control" />
                        <small class="form-text text-muted">* Give your list a name that matches your filters to find it easier after creating.</small>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Title" class="form-control" />
                        <small class="form-text text-muted">Title filter e.g. <code>disney</code> for kids movies</small>
                        <span asp-validation-for="Filter_Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Tagline" class="form-control" />
                        <small class="form-text text-muted">Tagline filter e.g. <code>one upon a time</code> for fairy tale</small>
                        <span asp-validation-for="Filter_Tagline" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Overview" class="form-control" />
                        <small class="form-text text-muted">Overview Filter e.g. <code>alter ego</code></small>
                        <span asp-validation-for="Filter_Overview" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_People" class="form-control" />
                        <small class="form-text text-muted">People filter e.g. <code>Ryan Reynolds</code> for all movies with Ryan Reynolds as actor</small>
                        <span asp-validation-for="Filter_People" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Translations" class="form-control" />
                        <small class="form-text text-muted">Translations filter e.g <code>de,fr</code> for movies in french and german</small>
                        <span asp-validation-for="Filter_Translations" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Aliases" class="form-control" />
                        <small class="form-text text-muted">Alias filter e.g. <code>some alias</code> for another name of a movie</small>
                        <span asp-validation-for="Filter_Aliases" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Between</span>
                            <input asp-for="Filter_Years.From" class="form-control" />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                            <input asp-for="Filter_Years.To" class="form-control" />
                        </div>
                        <small class="form-text text-muted">Years filter e.g. <code>2000-2010</code></small>
                        <span asp-validation-for="Filter_Years.From" class="text-danger"></span>
                        <span asp-validation-for="Filter_Years.To" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Between</span>
                            <input asp-for="Filter_Runtimes.From" class="form-control" />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                            <input asp-for="Filter_Runtimes.To" class="form-control" />
                        </div>
                        <small class="form-text text-muted">Runtime filter e.g. <code>30-200</code> for movies with a runtime min. 30 and max. 200 minutes</small>
                        <span asp-validation-for="Filter_Runtimes.From" class="text-danger"></span>
                        <span asp-validation-for="Filter_Runtimes.To" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Between</span>
                            <input asp-for="Filter_Ratings.From" class="form-control" />
                            <span class="input-group-addon" style="border-left: 0; border-right: 0;">and</span>
                            <input asp-for="Filter_Ratings.To" class="form-control" />
                        </div>
                        <small class="form-text text-muted">Ratings filter e.g. <code>5-10</code> for a rating between 5-10</small>
                        <span asp-validation-for="Filter_Ratings.From" class="text-danger"></span>
                        <span asp-validation-for="Filter_Ratings.To" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Languages" class="form-control" />
                        <small class="form-text text-muted">Languages filter e.g. <code>en,de</code> for movies that are available in english and german</small>
                        <span asp-validation-for="Filter_Languages" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Genres" class="form-control" />
                        <small class="form-text text-muted">Genres filter e.g. <code>action,adventure</code> for action and adventure movies</small>
                        <span asp-validation-for="Filter_Genres" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Countries" class="form-control" />
                        <small class="form-text text-muted">Countries filter e.g. <code>us,de</code> for movies that are available in the US and germany</small>
                        <span asp-validation-for="Filter_Countries" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="Filter_Certifications" class="form-control" />
                        <small class="form-text text-muted">Certifications filter e.g. <code>g,pg</code> for kids movies.</small>
                        <span asp-validation-for="Filter_Certifications" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-md-12">

    </div>

</div>